<div class="ui raised segment">

    <a href={{this.URL}}>{{this.title}}</a>

    <p>{{this.description}}</p>

    <br>

    <i class="arrow circle down icon"></i>

        <div class="ui circular labels">

            <a class="ui label">

                {{this.votes}}

            </a>

        </div>

    <i class="arrow circle up icon"></i>
    
</div>