<div class="description">

<h2>{{subraddit.name}}</h2>

<p>
    {{subraddit.description}}
</p>

</div>

<div class="ui left aligned container">

  <div class="ui raised segment">

  {{#each posts}}

    {{> post-item}}
    
  {{/each}}

  </div>
  
</div>