extends layout.pug

block content
  div.logPg
    div(id="logBox")
      h1(id="logH1") Welcome Back
        form(action='/auth/login', method='POST')
          p
            | 
            input.loginField(type='text', name='username')
          p
            | 
            input.loginField(type='password', name='password')
          p
            button(class="login" type='submit') Login!