<div class="ui left aligned container">

  <div class="ui raised segment">
    
    <div class="ui form">

      <div class="field">

        <label>Title</label>
        <input type="text" name="post-title" placeholder="Post Title">

      </div>

      <div class="field">
        <label>URL</label>
        <input type="text" name="url" placeholder="App URL">
      </div>

      <div class="field">

        <label>Short Description</label>
        <textarea rows="2" placeholder="Write a short description of your app."></textarea>

      </div>

      <button class="ui primary button">
        Create Post
      </button>

      <button class="ui button">
        Cancel
      </button>

    </div>
  
  </div>

</div>