html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
 }

.button {
    background-color: #000;
    border-color: rgb(6, 36, 170);
    border-radius: 7px;
    border: 1px solid;
    padding: 10px 15px 10px 15px;
    font-size: 11px;
    color: #fff;
    
}

header {
    position: absolute;
}

.wrapper {
	width: 100%;
	height: 100%;
	padding: 20px;
	background: #eee;
	position: absolute;
}

.button-text {
    color: #fff;
}

#webhead {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    height: 270px;
    width: 100%;
    margin-top: -18px;
    padding-top: 20px;
    border-bottom: 2px, black;
}

h1 {
    text-align: center;
    color: #fff;
    
}

h3 {
    color: #454545;
}

#logBox {
  position: absolute;
  width: 500px;
  height: 300px;
  top: 25%;
  left: 30%;
  border-radius: 8px;
  background: rgba(176, 245, 265, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#logBoxCreate {
  padding-bottom: 50px;
  position: absolute;
  width: 500px;
  height: 300px;
  top: 25%;
  left: 30%;
  border-radius: 8px;
  background: rgba(176, 245, 265, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logPg {
    background:  url(http://i.imgur.com/MlfDS2G.gif) no-repeat center center fixed; 
    background-color: #cccccc;
    background-size: cover;
    position: absolute;
	width: 100%;
	height: 100%;
}

.signPg {
    background: url(http://i.imgur.com/1QYu9wS.gif) no-repeat center center fixed;
    background-color: #cccccc;
    background-size: cover;
    position: absolute;
	width: 100%;
	height: 100%;
}

.createPg {
    background: url(http://i.imgur.com/upaf5C3.gif) no-repeat center center fixed;
    background-color: #cccccc;
    background-size: cover;
    position: absolute;
	width: 100%;
	height: 100%;
}

#logH1 {
    margin-top: 13%;
    text-align: center;
    left: 50%;
    font-size: 20px;
    color: #ffffff;
}

.comment-form {
    margin-top: 20px;
    font-size: 18px;
    padding: 0 0 50px 0;
    width: 300px;
    line-height: 1em;
}

button.login {
	background-color:transparent;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:7px;
	border:1px solid #8c8f8c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
    padding: 8px 21px;
	text-decoration:none;
}
button.login:hover {
	background-color:#8c8f8c;
}
button.login:active {
	position:relative;
	top:1px;
}

.btn-extra {
    text-decoration: none;
    color: #fff;
    left: 100px;
}

.extra {
    position: relative;
    text-decoration: none;
    color: #fff;
    left: 100px;
}

.extra2 {
    position: relative;
    text-decoration: none;
    color: #FFF;
    left: 100px;
}


.allbtn {
    margin-top: 15px;
    text-decoration: none;
}

.elsebtn {
    position: relative;
    text-decoration: none;
    top: 30px;
}

.homebtn {
    position: relative;
    bottom: 35px;
    left: 10px;
    text-decoration: none;
}

.rightbtn {
    position: relative;
    float: right;
    text-decoration: none;
}

.loginField {
    border-radius: 8px;
    height: 30px;
    text-align: center;
    color: #454545;
}

.create-sort {
    margin-top: 125px;
    margin-left: 20px;
}

/*
.post-btn {
    margin-top: 10px;
    background-color: #bdc3c7;
    border-color: #bdc3c7;
    border: 1px solid;
    padding: 2px 10px 2px 10px;
    font-size: 11px;
}
*/

.post-btn {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:11px;
	margin-top:10px;
	padding:6px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.post-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.post-btn:active {
	position:relative;
	top:1px;
}

.all-posts {
    
}

.submitted-area {
    font-size: 14px;
    font-weight: normal;
}

.headerbuttons {
    display: inline-flex;
}


.logoHome {
    height: 158px;
    display:block;
    margin:auto;
}

.link {
    color: #000;
    font-size: 0.8em;
}

.post {
    list-style: none;
}

.welcome {
    color: #fff;
    font-weight: bold;
}

.footer {
    text-align: center;
}

.logo {
    margin-top: 15px;
}

.comments {
    margin-top: 30px;
    font-size: 16px;
}

.comment-submission {
    font-size: 12px;
}

.formCreate{
margin-bottom: 30px; 
    
}