<div id="login">

  <h1><strong>Raddit</strong> Login</h1>

  <div class="login-box">
   <form action="/auth/login" method='POST' class='login-form'>

     <i id='username-input-icon' class='icon-user'></i>
     <input id="username" autocomplete="off" placeholder="Username" class='dark' type="text" name="username">

     <i id='password-input-icon' class='icon-lock'></i>
     <input id="password" autocomplete="off" placeholder="Password" class='dark' type="password" name="password">

    <input type="submit" class='button large' value="Please, login to continue.">
   
   </form>

  </div>

    <div>
        <p>
        Don't have an account? <a href="/signup-form">Signup now</a>.
        </p>
    </div>

</div>