<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css"> 
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<body>

<div class="ui stackable menu">
  
  <div class="item">

    <img src="/images/example-logo.png">

  </div>

  <a class="item" href="/">Home</a>

  <a class="item" href="/favorites">Favorites</a>

  <a class="item" href="/post">Post</a>
  
  <div class="right menu">

    <div class="item">

      <div class="ui primary button">Login</div>

    </div>

  </div>

</div>

  {{{body}}}
  
</body>

</html>